:root {
    /* --bg-primary: #e6f2ff;
    --bg-secondary: #b3d9ff;
    --bg-dark: #4da6ff;
    --text-primary: #333;
    --text-secondary: #0066cc;
    --accent-color: #007bff;
    --accent-hover: #0056b3;
    --message-bg-self: #4da6ff;
    --message-bg-other: #b3d9ff; */
    --primary: #111111;
    --secondary: #2F2F2F;
    --primary-light: #F6F6F6;
    --button-s: #FFCB74; 
}

/* General Styling */
body, button, input, textarea {
    font-family: 'Nunito', sans-serif !important;
}

body {
    background-color: var(--primary);
    color: var(--button-s);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


h2 {
    text-align: center;
    padding: 10px;
    background-color: var(--primary);
    margin: 0;
    color: var(--primary-light);
}

/* Chat Container */
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 90vh;
    width: 60%;
    max-width: 800px;
    background-color: var(--secondary);
    border-radius: 8px;
    box-shadow: 0px 0px 20px var(--primary);
    overflow: hidden;
}

/* Chat Content (Messages Area) */
.chat-content {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    /* border-bottom: 1px solid var(--primary); */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 10px;
}

.messages ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Styling for User's Messages */
.right {
    align-items: flex-end;
}

.message {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message-header strong {
    font-size: 0.9em;
    color: var(--text-secondary);
    font-weight: 600;
}

.message-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--button-s);
    font-size: 0.85em;
    margin-bottom: 5px;
    width: fit-content;
}

.message-container {
    display: flex;
    flex-direction: column;
    margin:0.5rem;
    max-width: 80%;
    min-width: 40%;
    width:fit-content;
}

.timestamp {
    font-size: 0.75em;
    color: var(--primary-light);
    margin-left: 0.2rem;
    vertical-align: middle;
}

/* Message Bubble */
.message-bubble {
    padding: 8px 12px;
    border-radius: 12px;
    width: fit-content;
    /* min-width: 70px; */
    background-color: var(--secondary);
    color: var(--primary-light);
    box-shadow: 0 2px 5px var(--primary);
    word-wrap: break-word;
    font-size: 0.9em;
    max-width: 80%;
}

.message-bubble.self {
    background-color: var(--secondary);
    color: var(--primary-light);
    text-align: end;
}

.message-bubble:not(.self) {
    background-color: var(--secondary);
    color: var(--primary-light);
    /* margin-right: 2.5%; */
    max-width: 40% !important;
}


/* Curr Usernames Positioning */

.right .message-header {
    justify-content:flex-end;
    text-align: right;
}

p {
    margin: 0;
    padding: 0;
}

/* Input Form (Fixed at Bottom) */
.input-form {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary);
    border-top: 1px solid var(--secondary);
}

/* Input Box and Send Button */
.input-box {
    flex: 1;
    padding: 10px;
    background-color: var(--secondary);
    border: 1px solid var(--button-s);
    border-radius: 5px;
    color: var(--primary-light);
    resize: none;
    margin-right: 10px;
    outline: none;
}

.send-button {
    background-color: var(--button-s);
    border: 1px solid var(--button-s);
    color: var(--primary-light);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.send-button:hover {
    filter: brightness(50%);
}

/* Logout Link */
.logout {
    text-align: center;
    display: block;
    color: var(--primary-light);
    background-color: var(--button-s);
    text-decoration: none;
    padding: 1rem 2rem;
    border-top: 1px solid var(--secondary);
    transition: 0.3s ease-in-out;
    border-radius: 2rem;
    margin: 2rem;
}

.logout:hover {
    filter: brightness(50%);
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary);
}
