:root {
    --primary: #111111;
    --secondary: #2F2F2F;
    --primary-light: #F6F6F6;
    --button-s: #FFCB74; 
}

body, .form-container {
    font-family: 'Nunito', sans-serif !important;
}

body {
    background-color: var(--primary);
    color: var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    /* background-color: white; */
    background-color: var(--secondary);
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 1em;
    color: var(--text-secondary);
}

.form-input {
    width: 90%;
    padding: 0.5em;
    margin: 0.55em 0;
    background-color: var(--primary-light);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 4px;
}

.form-input:focus {
    border-color: var(--button-s);
    outline: none;
}

.form-button {
    width: 65%;
    margin-top: 0.5em;
    padding: 0.5em;
    background-color: var(--button-s);
    color: var(--primary-light);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.form-button:hover {
    filter: brightness(50%);
}

a {
    color: var(--button-s);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--button-s);
}

p {
    color: var(--primary-light);
}

