:root {
    --bg-primary: rgb(234, 236, 204); /* Light background */
    --bg-secondary: rgb(195, 226, 194); /* Secondary background */
    --bg-dark: rgb(205, 141, 122); /* Darker elements */
    --text-primary: rgb(195, 226, 194); /* Primary text color */
    --text-secondary: rgb(219, 204, 149); /* Secondary text color */
    --accent-color: rgb(205, 141, 122); /* Accent color */
    --accent-hover: rgb(219, 204, 149); /* Hover color */
    --message-bg-self: rgb(195, 226, 194); /* Message background for self */
    --message-bg-other: rgb(234, 236, 204); /* Message background for others */
}

body, .form-container {
    font-family: 'Nunito', sans-serif !important;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 1em;
    color: var(--text-secondary);
}

.form-input {
    width: 90%;
    padding: 0.5em;
    margin: 0.55em 0;
    background-color: white;
    color: var(--text-primary);
    border: 1px solid var(--bg-dark);
    border-radius: 4px;
}

.form-input:focus {
    border-color: var(--accent-color);
    outline: none;
}

.form-button {
    width: 65%;
    margin-top: 0.5em;
    padding: 0.5em;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: var(--accent-hover);
}

a {
    color: #ffa726;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ff9800;
}

p {
    color: #cccccc; 
}

