<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <h2>Register</h2>
        <form method="POST" action="{{ url_for('register') }}">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }}
                {{ form.username(class="form-input") }}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password(class="form-input") }}
            </div>
            <div>
                {{ form.submit(class="form-button") }}
            </div>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>
    </div>
</body>
</html>
